
<div class="container">
  <h1 class="text-center"><%= @flat.name %></h1>
  <p>Address: <%= @flat.address %></p>
  <p>Description: <%= @flat.description %></p>

  <p>Price per night: <%= @flat.price_per_night %></p>
  <p>Number of guests: <%= @flat.number_of_guests %></p>
</div>
